@import "~antd/dist/antd.css";

.main{
  width:100vw;
  height:100vh;
  display: flex;
}
.canvas-screen{
  width: 800px;
  height:800px;
  background-color: #e8e8e8;
}
.toolbar{
  flex:1;
  height:100vh;
  display: flex;
  justify-content: center;
}