@import "~antd/dist/antd.css";

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-screen {
  width: 630px;
  height: 270px;
  background-color: #e8e8e8;
}

.toolbar {
  height: 600px;
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}